:root {
    --background-color: #b9a48a;
    --text-color: #3d3937;
    --text-secondary-color: #554d49;
    
    --component-basic-color: white;
    --component-accent-color: rgb(255, 208, 137);
    
    --border-basic-color: #686868;
    --border-secondary-color: #7e6051;
    --border-accent-color: #ca932c;
    
    --button-basic-background-color: black;
    --button-basic-hover-color: rgb(34, 34, 34);
    --button-basic-text-color: white;

    --button-accent-background-color: white;
    --button-accent-hover-color: rgb(158, 0, 0);
    --button-accent-text-color: red;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }