/* 전체 */
.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 수량 입력 필드 */
.quantityInput {
    width: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* 장바구니 추가, 적용 버튼 */
.addButton {
    padding: 8px 16px;
    background-color: var(--button-basic-background-color);
    color: var(--button-basic-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.addButton:hover {
    background-color: var(--button-basic-hover-color);
}

/* 삭제 버튼 */
.deleteButton {
    padding: 8px 16px;
    background-color: var(--button-accent-background-color);
    color: var(--button-accent-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.deleteButton:hover {
    background-color: var(--button-accent-hover-color);
}

/* 수량 박스 (only 읽기) */
.quantityBox {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--button-basic-background-color);
    color: var(--button-basic-text-color);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}